<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/charge" method="post">
        <article>
            <label>
                <span>Amount is $10.00</span>
            </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}"
            data-description="A Flask Charge" data-amount="1000" data-locale="auto"></script>
    </form>

</body>
<script>
    // Create a token or display an error when the form is submitted.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the customer that there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
            }
        });
    });
</script>

</html>